# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyARwthlGPzFDOlWB-DL1ND-r6yz8i1cfM0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=roleplay-pbl.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=roleplay-pbl
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=roleplay-pbl.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=200283327591
NEXT_PUBLIC_FIREBASE_APP_ID=1:200283327591:web:719635a248d138264ad8c2

# Anthropic (server-side only)
ANTHROPIC_API_KEY=placeholder

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
